.palomitas-div {
    background-image: url('../../assets/img/palomitas.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 8px; /* Opcional: para bordes redondeados */
    outline: 4px solid #FFD700; 
    margin-left:65px;
}

.containerFormR {
    margin: -15px;
    padding: 30px;
    background-image: url('../../assets/img/fondoLogo.png');
    border: 8px solid #2C1810;
    border-radius: 10px;
}

.labelR{
    color: #FFD700;
}
