.catPeli{
    color: white;
    margin-left: 50px;
    margin-bottom: -60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.catPeli1{
    margin-top: 40px;
}

.conteoRes{
    font-size: 20px;
    margin-top: -45px;
}

.imgPelicula{
    width: 250px;
    height: 300px;
    size: cover;
    border: 8px solid #2C1810;
    border-radius: 12px;
    margin-top: -40px;
    transition: all 0.5s ease;
}

.imgPelicula:hover{
    transform: scale(1.05);
}

.NombrePeli{
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    color: #FFD700;
}

.botonMasPelis button{
    border: 8px solid #2C1810;
    width: 85%;
    height: 250px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    background-color: #FFD700;
    margin-top: 5px;
    margin-left: -150px;
    transition: all 0.5s ease;
}

.botonMasPelis button:hover{
    transform: scale(1.05);
}

.sigBoton{
    font-size: 30px;
    font-weight: bold;
    color: #2C1810;
}

.CarruselContainer{
    margin-bottom: -40px;
}

